body {

}

.Banner {
    width: 1000px;
    height: 100px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.CenteringThings div{
    margin-left: 180px;
    margin-right: auto;
}


.Menu {
    background-color: rgb(10,110,178); /*thuộc tính màu nền*/
    width: 1000px; /*thuộc tính chiều rộng*/
    margin: 0px 0px 10px; /*thuộc tính canh lề TRÊN - TRÁI - DƯỚI*/
    padding: 0px;
    height: 30px;
    color: rgb(243,243,243);
    border-radius: 5px 5px 5px 5px; /*thuộc tính goc bo tròn*/
}

.Menu ul li {
    float: left;
    display: block;
    list-style: none;
    border-right: 1px solid rgb(10,85,125);
    border-left: 1px solid rgb(67,153,200);
}

.Menu ul li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.Menu ul li:hover {
    background-color: rgb(14,79,114);
    border-right: 1px solid rgb(14,89,130);
}

table.BangThongKe {
    border-collapse: separate;
}

tr.abc {
    border-spacing: 30px 50px;
}

table.TenCot {
    border-style: solid;
}

th.TenCot {
    border-style: solid;

}